* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}  

header, footer {
    background-color: #1f2937;
    color: #fff;
}

header {
    height: 75vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 25px auto;
}

.hero {
    width: 600px;
    display: block;
    margin: 100px auto;
    width: 75%;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
}

.hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero-img {
    width: 200px;
    height: 400px;
    background-color: grey;
    border: 2px #fff solid;
}

button {
    background-color: #3882fc;
    color: #fff;
    width: 100px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

section {
    display: flex;
    height: 250px;
    margin: 25px auto;
}

#first {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
}

#second {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: #e5e7eb;
}

.quote {
    padding: 50px;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.attribute {
    font-weight: bold;
    align-self: flex-end;
}

#third {

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}