* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}  

header, footer {
    background-color: #1f2937;
    color: #fff;
}

header {
    height: 75vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 25px auto;
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 600px;
    margin: 100px auto;
    width: 75%;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
}

.hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-bottom: 10px;
}

.hero-words {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 300px;
}

.hero-img {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 300px;
    height: 200px;
    background-color: grey;
    border: 2px #fff solid;
}

button {
    background-color: #3882fc;
    color: #fff;
    width: 100px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

section {
    display: flex;
    height: 300px;
    margin: 25px auto;
}

#first {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    width: 800px;
}

#first h2 {
    margin: 20px 0 40px 0;
}

.info-content {
    display: flex;
    flex-direction: row;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content img {
    height: 100px;
    width: 100px;
    border: 2px solid #3882fc;
    border-radius: 10px;
}

#second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;  
}

.second-content {
    display: flex;
    flex-direction: column;
    
}

.quote {
    padding: 0 50px;
    font-style: italic;
    font-size: 30px;
    color: #1f2937;
    margin: 0 150px;
}

.attribute {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 200px;
}

#third {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.btn-like {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding: 20px;
    height: 100px;
    width: 600px;
    background-color: #3882fc;
    border-radius: 10px;
}

.third-content {
    flex: 2;
    padding: 10px;
}

.cta-btn {
    margin-right: 20px;
    font-size: 16px;
    border: 2px solid #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}